@model CreateExamDTO
@{
    ViewData["Title"] = "Index";
}
@{
    int i = 0;
    int count = 0;
}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table" border="1">
            <tr>
                <td colspan="2">@Model.Title</td>
            </tr>
            <tr>
                <td colspan="2">@Model.Description</td>
            </tr>

            @foreach (var item in Model.Question)
            {
                <tr>
                    <td colspan="2">
                        Question > @item.Question
                    </td>
                </tr>


                foreach (var item2 in item.Options)
                {
                    if (i % 2 == 0)
                    {
                        @Html.Raw("<tr>")
                    }
                    <td id="@i@count"> <input type="radio" name=@count id="@i@count" value="@item2.IsCorrect.ToString()" />@item2.Option</td>
                    if (i % 2 == 1)
                    {
                        @Html.Raw("</tr>")

                    }

                    {
                        i++;
                    }


                }
                {
                    count++;
                }

            }

            <tr>
                <td colspan="2">
                    <button type="button" onclick="displayRadioValue()" style="float:right">
                        Finish
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>








@section Script
    {
    <script>
        function displayRadioValue() {
            Clear();
            for (var j = 0; j < 4; j++) {
                var ele = document.getElementsByName(j.toString());
                for (i = 0; i < ele.length; i++) {
                    if (ele[i].checked) {
                        if (ele[i].value == "True")
                            document.getElementById(ele[i].id.toString()).style.backgroundColor = "green";
                        else
                            document.getElementById(ele[i].id.toString()).style.backgroundColor = "red";

                    }

                }
            }

        }

        function Clear() {

            for (var j = 0; j < 4; j++) {
                var ele = document.getElementsByName(j.toString());
                for (i = 0; i < ele.length; i++) {
                    document.getElementById(ele[i].id.toString()).style.backgroundColor = "white";

                }

            }
        }

    </script>
}